@CHARSET "ISO-8859-1";

 

* {

    box-sizing: border-box;

}

 

body {

	 background: linear-gradient(to bottom, white 0%, white 68%, #8f8f8f 64%, #8f8f8f 100%);
	
	 background-color: #8f8f8f;
	
	 content: hidden;

}

 

.content {

	 max-width: 1200px;
	
	 min-width: 800px;
	
	 margin: 0 auto;
	
	 content: hidden;

}

 

.background-picture {

    background-image: url("https://images.pexels.com/photos/905873/pexels-photo-905873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

               width: 100%;

               height: 500px;

}

 

#page-title {

               font-family: Arial Narrow;

    text-align: center;

    color: #395177;

    letter-spacing: 30px;

    font-weight: 100;

    background-color: #e1edf4;

    opacity: 0.80;

    width: 100%;

    top: 0;

    height: auto;

    padding: 20px;

    margin: 0;

    border: 0;

    position: fixed;

    z-index: 5;

}

 

#resume {

               font-size: 25px;

               font-weight: lighter;

               color: black;

               text-align: center;

               padding-bottom: 40px;

}

 

h1{

               font-family: Arial Narrow;

               letter-spacing: 35px;

}

 

h2 {

               font-family: Arial Narrow;

               font-size: 25px;

               font-weight: lighter;

               color: white;

               text-align: center;

               letter-spacing: 20px;

               padding-top: 150px;

}

 

h3 {

               font-family: Arial Narrow;

               font-size: 25px;

               font-weight: lighter;

               color: White;

               text-align: center;

               letter-spacing: 20px;

               padding-top: 55px;

}

 

h4{

               color: #395177;

               font-family: Arial Narrow;

               font-size: 32px;

               font-weight: 500;

               letter-spacing: 18px;

}

 

.resume-pic {

               display: inline;

               position: relative;

               max-width: 100%;

               width: 100%;

               height: 250px;

}

 

#employer {

               font-family: Arial Narrow;

               display: inline;

               font-size: 18px;

               font-weight: 900;

}

 

#employer-date {

               font-size: 15px;

               font-family: Arial Narrow;

               float: right;

               margin-right: 300px;

}

 

#employer-description {

               color: #395177;

               line-height: 0.5;

}

 

#employer-city {

               color: black;

               font-size: 15px;

               font-family: Arial Narrow;

               float: right;

               padding-right: 300px;

}

 

#Education {

               padding-bottom: 35px;

               min-width: 1000px;

}

 

#space {

               visibility: hidden;

}

 

#education {

               font-family: Arial Narrow;

               font-size: 16px;

               padding-left: 60px;

}

 

table {

               table-layout: inherit;

               margin-left: 76px;

}

 

#wsu-pic {

               display: inline-block;

}

 

#list {

               font-family: Courier New;

               list-style-type: none;

}

 

li {

               font-family: Arial Narrow;

               padding-left: 150px;

               padding-top: 8px;

               padding-bottom: 6px;

}

 

#tech-prof {

               font-family: Arial Narrow;

               font-size: 18px;

}

 

td {

               font-family: Arial Narrow;

               font-size: 18px;

}

 

.grid-container {

    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 300px 300px 300px;

    padding: 60px;

    padding-top: 60px;

    grid-column-gap: 40px;

    grid-row-gap: 30px;

    position: relative;

    margin: auto;

}

 

.grid-subcontainer1:hover .grid-item1 {

               opacity: 1;

}

 

.grid-subcontainer2:hover .grid-item2 {

               opacity: 1;

}

 

.grid-subcontainer3:hover .grid-item3 {

               opacity: 1;

}

 

.grid-subcontainer4:hover .grid-item4 {

               opacity: 1;

}

 

.grid-subcontainer5:hover .grid-item5 {

               opacity: 1;

}

 

.grid-subcontainer6:hover .grid-item6 {

               opacity: 1;

}

 

.grid-item1 {

	width: auto;

    max-width: 100%;

    width: 100%;

    height: 300px;

    position: absolute;

    top: 0;

    height: 30%;

    width: 44%;

    opacity: 0;

    transition: .5s ease;

}

 

.grid-item2 {

    width: auto;

    max-width: 100%;

    width: 100%;

    height: 300px;

    position: absolute;

    top: 4%;

    left: 47%;

    height: 30%;

    width: 44%;

    opacity: 0;

    transition: .5s ease;

}

 

.grid-item3 {

    width: auto;

    max-width: 100%;

    width: 100%;

    height: 300px;

    position: absolute;

    top: 30%;

    height: 30%;

    width: 44%;

    opacity: 0;

    transition: .5s ease;

}

 

.grid-item4 {

    width: auto;

    max-width: 100%;

    width: 100%;

    height: 300px;

    position: absolute;

    top: 30%;

    left: 46%;

    height: 30%;

    width: 44%;

    opacity: 0;

    transition: .5s ease;

}

 

.grid-item5 {

    width: auto;

    max-width: 100%;

    width: 100%;

    height: 300px;

    position: absolute;

    top: 61%;

    height: 30%;

    width: 44%;

    opacity: 0;

    transition: .5s ease;

}

 

.grid-item6 {

    width: auto;

    max-width: 100%;

    width: 100%;

    height: 300px;

    position: absolute;

    top: 67%;

    left: 47%;

    height: 30%;

    width: 44%;

    opacity: 0;

    transition: .5s ease;

}

 

.grid-subcontainer1:hover #grid-pic1 {

	filter: blur(8px);

}

 

.grid-subcontainer2:hover #grid-pic2 {

	filter: blur(8px);

}

 

.grid-subcontainer3:hover #grid-pic3 {

	filter: blur(8px);

}

 

.grid-subcontainer4:hover #grid-pic4 {

	filter: blur(8px);

}

 

.grid-subcontainer5:hover #grid-pic5 {

	filter: blur(8px);

}

 

.grid-subcontainer6:hover #grid-pic6 {

	filter: blur(8px);

}

 

#grid-pic1 {

	 opacity: 1;
	
	 max-width: 100%;
	
	 width: 100%;
	
	 height: 300px;
	
	 z-index: 2;
	
	 transition: .5s ease;

}

 

#grid-pic2 {

	 opacity: 1;
	
	 max-width: 100%;
	
	 width: 100%;
	
	 height: 300px;
	
	 z-index: 2;
	
	 transition: .5s ease;

}

 

#grid-pic3 {

	 opacity: 1;
	
	 max-width: 100%;
	
	 width: 100%;
	
	 height: 300px;
	
	 z-index: 2;
	
	 transition: .5s ease;

}

 

#grid-pic4 {

	 opacity: 1;
	
	 max-width: 100%;
	
	 width: 100%;
	
	 height: 300px;
	
	 z-index: 2;
	
	 transition: .5s ease;

}

 

#grid-pic5 {

	 opacity: 1;
	
	 max-width: 100%;
	
	 width: 100%;
	
	 height: 300px;
	
	 z-index: 2;
	
	 transition: .5s ease;

}

 

#grid-pic6 {

	 opacity: 1;
	
	 max-width: 100%;
	
	 width: 100%;
	
	 height: 300px;
	
	 z-index: 2;
	
	 transition: .5s ease;

}

 

.bio {

	 position: absolute;
	
	 font-family: Arial Narrow;
	
	 font-weight: 600;
	
	 padding-left: 80px;
	
	 padding-top: 65px;

}

 

.church {

	 position: absolute;
	
	 font-family: Arial Narrow;
	
	 font-weight: 600;
	
	 padding-left: 80px;
	
	 padding-top: 65px;
	
	 color: white;

}

 

.music {

	 position: absolute;
	
	 font-family: Arial Narrow;
	
	 font-weight: 600;
	
	 padding-left: 80px;
	
	 padding-top: 65px;
	
	 color: black;

}

 

.sports {

	 position: absolute;
	
	 font-family: Arial Narrow;
	
	 font-weight: 600;
	
	 padding-left: 80px;
	
	 padding-top: 65px;
	
	 color: white;

}

 

.adventure {

	 position: absolute;
	
	 font-family: Arial Narrow;
	
	 font-weight: 600;
	
	 padding-left: 80px;
	
	 padding-top: 65px;
	
	 color: white;

}

 

.quote {

	 position: absolute;
	
	 font-family: Arial Narrow;
	
	 font-weight: 600;
	
	 padding-left: 80px;
	
	 padding-top: 65px;

}

 

.linkedin-message {

	 font-family: Arial Narrow;
	
	 text-align: center;
	
	 color: white;

}

 

#profile-picture {

	display: block;

    margin-left: auto;

    margin-right: auto;

    text-align: center;

    padding-top: 80px;

}

 

footer {

	text-align: center;

    background-color: White;

    height: 70px;

    font-size: 15px;

    color: #395177;

    font-family: Arial Narrow;

    letter-spacing: 4px;

    padding-top: 15px;

}